@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.725 0.1978 138);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);

  --note-black-50: oklch(0.96 0 138);
  --note-black-100: oklch(0.91 0 138);
  --note-black-200: oklch(0.71 0 138);
  --note-black-400: oklch(0.41 0 138);
  --note-black-600: oklch(0.32 0 138);
  --note-black-700: oklch(0.21 0 138);
  --note-black-900: oklch(0 0 138);

  --note-c-100: oklch(0.97 0.02 20);
  --note-c-200: oklch(0.92 0.04 20);
  --note-c-300: oklch(0.86 0.08 20);
  --note-c-400: oklch(0.8 0.12 20);
  --note-c-500: oklch(0.72 0.16 20);
  --note-c-600: oklch(0.63 0.14 20);
  --note-c-700: oklch(0.54 0.12 20);
  --note-c-800: oklch(0.42 0.1 20);
  --note-c-900: oklch(0.31 0.07 20);
  --note-d-100: oklch(0.97 0.02 61);
  --note-d-200: oklch(0.92 0.04 61);
  --note-d-300: oklch(0.86 0.08 61);
  --note-d-400: oklch(0.79 0.12 61);
  --note-d-500: oklch(0.72 0.16 61);
  --note-d-600: oklch(0.62 0.14 61);
  --note-d-700: oklch(0.53 0.12 61);
  --note-d-800: oklch(0.42 0.1 61);
  --note-d-900: oklch(0.3 0.07 61);
  --note-e-100: oklch(0.96 0.02 138);
  --note-e-200: oklch(0.91 0.04 138);
  --note-e-300: oklch(0.84 0.08 138);
  --note-e-400: oklch(0.78 0.12 138);
  --note-e-500: oklch(0.69 0.16 138);
  --note-e-600: oklch(0.6 0.14 138);
  --note-e-700: oklch(0.51 0.12 138);
  --note-e-800: oklch(0.4 0.1 138);
  --note-e-900: oklch(0.29 0.07 138);
  --note-f-100: oklch(0.96 0.02 182);
  --note-f-200: oklch(0.91 0.04 182);
  --note-f-300: oklch(0.84 0.08 182);
  --note-f-400: oklch(0.77 0.12 182);
  --note-f-500: oklch(0.68 0.16 182);
  --note-f-600: oklch(0.59 0.14 182);
  --note-f-700: oklch(0.5 0.12 182);
  --note-f-800: oklch(0.39 0.1 182);
  --note-f-900: oklch(0.29 0.07 182);
  --note-g-100: oklch(0.96 0.02 263);
  --note-g-200: oklch(0.92 0.04 263);
  --note-g-300: oklch(0.85 0.08 263);
  --note-g-400: oklch(0.79 0.12 263);
  --note-g-500: oklch(0.71 0.16 263);
  --note-g-600: oklch(0.62 0.14 263);
  --note-g-700: oklch(0.53 0.12 263);
  --note-g-800: oklch(0.41 0.1 263);
  --note-g-900: oklch(0.3 0.07 263);
  --note-a-100: oklch(0.97 0.02 304);
  --note-a-200: oklch(0.92 0.04 304);
  --note-a-300: oklch(0.86 0.08 304);
  --note-a-400: oklch(0.8 0.12 304);
  --note-a-500: oklch(0.72 0.16 304);
  --note-a-600: oklch(0.63 0.14 304);
  --note-a-700: oklch(0.54 0.12 304);
  --note-a-800: oklch(0.42 0.1 304);
  --note-a-900: oklch(0.31 0.07 304);
  --note-b-100: oklch(0.97 0.02 342);
  --note-b-200: oklch(0.92 0.04 342);
  --note-b-300: oklch(0.86 0.08 342);
  --note-b-400: oklch(0.8 0.12 342);
  --note-b-500: oklch(0.73 0.16 342);
  --note-b-600: oklch(0.63 0.14 342);
  --note-b-700: oklch(0.54 0.12 342);
  --note-b-800: oklch(0.42 0.1 342);
  --note-b-900: oklch(0.31 0.07 342);

  --note-black: var(--note-black-400);
  --note-c: var(--note-c-500);
  --note-d: var(--note-d-500);
  --note-e: var(--note-e-500);
  --note-f: var(--note-f-500);
  --note-g: var(--note-g-500);
  --note-a: var(--note-a-500);
  --note-b: var(--note-b-500);

  --app-primary: oklch(0.725 0.1978 138);
  --app-darkest: oklch(0.205 0.062 138);
  --app-dark: oklch(0.51 0.046 138);
  --app-medium: oklch(0.64 0.033 138);
  --app-light: oklch(0.86 0.02 138);
  --app-lightest: oklch(0.99 0.01 138);
}

:root :where(.vf-stavenote) {
  color: var(--note-default);
  fill: currentColor;
  stroke: currentColor;
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
